

body{
  margin: 0px;
  padding: 0px;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: rgba(80, 171, 223, 0.822);
    font-size: 48px;
    
  }


  